/* Estilos generales para el contenedor */
.reserva-container {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho según sea necesario */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Estilos para el título */
 .title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* Estilos para la etiqueta de pregunta */
  .label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  /* Estilos para el input de fecha */
   .date {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Estilos para los campos adicionales (si los hay) */
  .field {
    margin-bottom: 20px;
  }
  
  /* Estilos para los campos de entrada adicionales */
  .field input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Estilos para el botón (si es necesario) */
   .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Estilos para el botón (si es necesario) al pasar el mouse */
  .btn:hover {
    background-color: #0056b3;
  }
  .suffesul{
    background-color: green;
    font-size: 800;
    color: white;
    padding: 15px;
    
  }