.container {
  text-align: center;
}
.form {
  display: inline-block;
  text-align: center;
  
  margin-top: 30vh;
}
.frominput {
  padding: 10px;
  margin-bottom: 10px;
  
  margin-top: 10px;
}
.formbutton {
  margin-top: 10px;
  background-color: rgba(0, 128, 0, 0.575);
  color: white;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
}
.formbutton:hover {
  
    background-color: rgba(0, 128, 0, 0.822);
   
  }
.spanFrom {
  background-color: rgba(255, 0, 0, 0.753);
  color: white;
  border-radius: 25px;
  padding: 5px;
  
  
  border: 1px solid black;
}
